<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>

<body>
<main class="centered">
    <h1>Stop Records</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Pc Name</th>
            <th>Stop Time</th>
            <th>Start Time</th>
            <th>Reason Code</th>
        </tr>
        </thead>
        <tbody>
        <% for (let record of records) { %>
            <tr>
                <td><%= record.pcName %></td>
                <td><%= record.stopTime %></td>
                <td><%= record.startTime %></td>
                <td><%= record.reasonCode %></td>
            </tr>
        <% } %>
        </tbody>
    </table>


</main>

</body>

</html>